/*start global variables*/
:root{
    --mainColor:#19c8fa;
    --transparent-color: rgb(15 116 143 / 70%);
    --section-padding:100px;
}
/*end global variables*/

/*start main components & global rules*/
*{
    padding:0;
    margin:0;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
.container{
    padding-left:15px;
    padding-right:15px;
    margin-left:auto;
    margin-right:auto;
}

/*Small*/
@media (min-width:768px){
    .container{
        width:750px;
    }
}
/*Medium*/
@media (min-width:992px){
    .container{
        width:970px;
    }
}
/*Large*/
@media (min-width:1200px){
    .container{
        width:1170px;
    }
}

.special-heading{
    text-align: center;
    position:relative;
}

.special-heading h2{
    font-weight:normal;
    color:#000;
    margin-bottom:70px;
    position:relative;
    font-size:40px;
    text-transform: uppercase;
}

.special-heading h2::before{
    content:"";
    position: absolute;
    bottom: -19px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    width:250px;
    height:80px;
    border:2px solid #000;
}

.special-heading h2::after{
    content:"";
    position:absolute;
    bottom: -27px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    width:14px;
    height:14px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border:2px solid #000;
    background:#000;
    animation-name: dot-movement;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function:ease-in-out;
}

@keyframes dot-movement{
    0%{
        transform: translateY(-50% , 0);
        -webkit-transform: translateY(-50% , 0);
        -moz-transform: translateY(-50% , 0);
        -ms-transform: translateY(-50% , 0);
        -o-transform: translateY(-50% , 0);
    }

    20%{
        transform: translate(-750% , 0) ;
        -webkit-transform: translate(-750% , 0) ;
        -moz-transform: translate(-750% , 0) ;
        -ms-transform: translate(-750% , 0) ;
        -o-transform: translate(-750% , 0) ;
    }

    40%{
        transform: translate(-750% , -460%);
        -webkit-transform: translate(-750% , -460%);
        -moz-transform: translate(-750% , -460%);
        -ms-transform: translate(-750% , -460%);
        -o-transform: translate(-750% , -460%);
    }

    60%{
        transform: translate(650% , -460%);
        -webkit-transform: translate(650% , -460%);
        -moz-transform: translate(650% , -460%);
        -ms-transform: translate(650% , -460%);
        -o-transform: translate(650% , -460%);
    }
    
    80%{
        transform: translate(650% , 0);
        -webkit-transform: translate(650% , 0);
        -moz-transform: translate(650% , 0);
        -ms-transform: translate(650% , 0);
        -o-transform: translate(650% , 0);
    }
}

.special-heading p{
    color:#777;
    max-width:550px;
    margin:0 auto 100px;
    font-size:16px;
    line-height:2;
}

.overlay{
    position:absolute;
    top:0;
    z-index:3;
    min-height:100%;
    width:100%;
    background-color:rgba(0 , 0 , 0 , 0.6);
}
/*end main components*/


/*start header*/
.header{
    position:absolute;
    width:100%;
    top:0;
    color:white;
    z-index:3;
}

.header .container{
    position:relative;
    display:flex;
    justify-content: space-between;
    align-items: center;
    min-height: 97px;
}

.header .container::after{
    z-index:-1;
    content:"";
    position:absolute;
    bottom: 0;
    left:15px;
    height:1px;
    width:calc(100% - 15px);
    background-color:rgba(255, 255, 255, 0.5);
}

.header .logo img{
    height:40px;
}

.header .links{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:14px;
}

.header .links .urls i{
    display:none;
}

.header .links .urls ul{
    list-style: none;
}

.header .links .urls ul li{
    display:inline-block;
    padding:40px 10px;
}

.header .links .urls ul li:first-child{
    color:var(--mainColor);
    border-bottom:1px solid var(--mainColor);
}

.header .links .urls ul li:hover{
    cursor: pointer;
    color:var(--mainColor);
    border-bottom:1px solid var(--mainColor);
}

.header .links .search{
    position:relative;
    width:30px;
    height:40px;
    display: flex;
    align-items:center;
    margin-left:30px;
    font-size:16px;
    border-left:1px solid white;
}

.header .links .search i{
    transform: translateX(20px);
    -webkit-transform: translateX(20px);
    -moz-transform: translateX(20px);
    -ms-transform: translateX(20px);
    -o-transform: translateX(20px);
}



@media (max-width:767px){
    .header .container{
        width:85%;
    }

    .header .links .urls i {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header .links .urls i{
        cursor: pointer;
    }

    .header .links .urls ul{
        display: none;
    }

    .header .links .urls ul li{
        padding:15px;
    }

    .header .links .urls i:hover + ul{
        width:85%;
        background-color:rgba(0 , 0 , 0 , 0.5);
        display: flex;
        flex-direction: column;
        position: absolute;
        top:100%;
        left:calc(100% - 92.5%);
    }
}
/*end header*/

/*start landing*/
.landing{
    position:relative;
    z-index:1;
    overflow: hidden;
    height: 100vh;
    background-color:#1f2021;
    background-image:url("../Images/landing.jpg");
    background-size:cover;
}

.landing .description{
    display: flex;
    justify-content: flex-end;
    background-color:var(--transparent-color);
    width:50%;
    position:relative;
    top:30%;
    z-index:3;
    padding:50px;
}

.landing .description .content{
    color:white;
    max-width:500px;
    line-height:1.7;
}

.landing .description h2{
    font-weight: normal;
    font-size:32px;
    margin-bottom:20px;
}

.landing i{
    position: absolute;
    top:50%;
    z-index:3;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

.landing i:nth-of-type(1){
    left:25px;
}

.landing i:nth-of-type(2){
    right:25px;
}

.landing .swipe{
    width:100px;
    height:20px;
    list-style: none;
    position: absolute;
    left:calc(50% - 50px);
    bottom:40px;
    z-index:3;
    display: flex;
    justify-content: space-between;    
}

.landing .swipe li{
    width:20px;
    height:20px;
    border-radius:50%;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    -ms-border-radius:50%;
    -o-border-radius:50%;
    border:2px solid white;
}

.landing .swipe li:nth-child(2){
    background-color:var(--mainColor);
    border: none;
}

@media (max-width:767px){
    .landing .description {
        top:20%;
        width:100%;
    }

    .landing .description .content{
        max-width: 100%;
    }

    .landing .description .content p{
        font-size:14px;
    }

    .landing i{
        display: none;
    }
}

@media (max-width:1024px){
    .landing .description {
        top:20%;
        padding-left:70px;
    }
}

@media (max-width:1440px){
    .landing .description {
        top:25%;
        padding-left:70px;
    }
}
/*end landing*/

/*start services*/
.services {
    padding-top:var(--section-padding);
    padding-bottom: var(--section-padding);
}

@media (min-width:768px){

    .services .offers{
        display: grid;
        grid-template-columns: repeat(auto-fill , minmax(450px , 1fr));
        gap:60px 40px;
    }

    .services .offers .offers-section{
        display: flex;
    }

    .services .offers .offers-section i{
        margin-right:50px;
    }
}

.services .offers .offers-section .text h3{
    margin-bottom:30px;
    color:var(--mainColor);
}

.services .offers .offers-section .text p{
    line-height:2;
    color:#777;
}

@media (max-width:767px){
    .services .offers .offers-section{
        margin-top:50px;
        text-align:center;
    }

    .services .offers .offers-section:not(:last-child){
        padding-bottom:20px;
        border-bottom:1px solid black;
    }

    .services .offers .offers-section i{
        margin-bottom:30px;
    }
}
/*end services*/

/*start features*/
.features{
    padding:var(--section-padding) 0;
    position:relative;
    height:600px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color:#1f2021;
    background-image: url(../Images/design-features.jpg);
    background-size:cover;
    overflow: hidden;
}

.features .img{
    margin:auto;
    text-align:center;
    position: relative;
    left:0%;
    bottom:-90px;
}

.features .features-box{
    padding:50px;
    height:calc(100% - 50px);
    background-color:var(--transparent-color);
    z-index:1;
    width:50%;
    color:white;
}

.features .features-box h2{
    text-transform: uppercase;
    font-weight:normal;
    margin-bottom:40px;
}

.features .features-box ul{
    list-style: none;
}


.features .features-box ul li{
    margin-bottom:20px;
}

.features .features-box ul li::before{
    font-family: "Font Awesome 5 Free";
    content: "\f108";
    font-weight: 600;
    margin-right: 20px;
    position: relative;
    top: 1px;
}

@media (max-width:767px){
    .features .features-box{
        width:100%;
    }

    .features .img{
        display: none;
    }
}
/*end features*/

/*start portfolio*/
.portfolio{
    padding:var(--section-padding) 0;

}

.portfolio ul{
    width:fit-content;
    list-style: none;
    margin:auto;
}

.portfolio ul li{
    display: inline-block;
    padding:10px;
}

.portfolio ul li:first-child{
    background-color:var(--mainColor);
    color:white;
}

.portfolio .photography{
    margin-top:30px;
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(450px , 1fr));
    row-gap: 1px;
}

@media (max-width: 767px){
    .portfolio .photography{
        grid-template-columns: repeat(auto-fill , minmax(320px , 1fr));
    }
}

.portfolio .photography .box{
    position: relative;
    overflow: hidden;
}

.portfolio .photography .box img{
    width:100%;
    transition-duration: 0.3s;
}

.portfolio .photography .box .text{
    padding:20px;
    left:0%;
    position: absolute;
    bottom:-100%;
    background-color:white;
    width:100%;
    transition-duration: 0.3s;
}

.portfolio .photography .box .text h4{
    font-weight: normal;
    margin-bottom:10px;
}

.portfolio .photography .box .text p{
    color:var(--mainColor);
}

.portfolio .photography .box:hover img{
    transform: rotate(5deg) scale(1.2);
    -webkit-transform: rotate(5deg) scale(1.2);
    -moz-transform: rotate(5deg) scale(1.2);
    -ms-transform: rotate(5deg) scale(1.2);
    -o-transform: rotate(5deg) scale(1.2);
}



.portfolio .photography .box:hover .text{
    bottom:0%;
}

.portfolio button{
    display: block;
    background-color:var(--mainColor);
    color:white;
    width:200px;
    height:50px;
    margin:auto;
    margin-top:30px;
    border:none;
    border-radius:10px;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    -ms-border-radius:10px;
    -o-border-radius:10px;
    font-size:20px;
}
/*end portfolio*/

/*start video*/
.video{
    background-color:#1f2021;
    position: relative;
}

.video video{
    width:100%;
    height:100%;
}

.video .text{
    background-color:var(--transparent-color);
    position:absolute;
    top:50%;
    z-index:3;
    width:100%;
    text-align:center;
    padding:70px;
    color:white;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

@media (max-width:767px){
    .video .text{
        padding:0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        top:0;
        height:100%;
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
    }
}

.video .text h2{
    font-weight:normal;
    margin-bottom:25px;
    text-transform: uppercase;
}

.video .text p{
    margin-bottom:25px;
}

.video .text button{
    background-color: black;
    border:none;
    color:white;
    padding:10px;
    width:130px;
    text-transform: uppercase;
}
/*end video*/